ul li {
  list-style-type: none;
  margin-left: -20px
}

.main-note {
  min-width: 500px;
}

.main-note_title {
  width: 100%;
  text-align: center;
}

.note_title {
  float: left;
}

.note_date {
  float: right;
}

.main-note_button {
  border-radius: 5px;
  cursor: pointer;
}

.note-content {
  width: 65%;
  min-width: 660px;
  height: 800px;
  margin: 0 auto;
}


.note-canvas {
}

.main-note__main-text {
  width: 663px;
  height: 380px;
}

.main-note_btn-gruop {
  min-width: 669px;
  height: 50px;
  padding-left: 153px;
}

.length-text-note {
  float: right;
}
