ul li {
  list-style-type: none;
  margin-left: -20px
}

.main-note {
  min-width: 500px;
  height: 900px;
}

.main-note_title {
  width: 100%;
  text-align: center;
}

.note_title {
  float: left;
  width: 181px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note_date {
  float: right;
}

.main-note_button {
  border-radius: 5px;
  cursor: pointer;
}

.note-content {
  /* background-color: #888379; */
  width: 850px;
  min-width: 660px;
  margin: 0 auto;
}


.note-canvas {
}

.main-note__main-text {
  width: 663px;
  height: 380px;
}

.main-note_btn-gruop {
  min-width: 669px;
  height: 50px;
  padding-left: 153px;
}

.length-text-note {
  float: right;
}
