ul li {
  list-style-type: none;
  margin-left: -20px
}

.main-note {
  min-width: 500px;
}

.main-note_button {
  border-radius: 5px;
  cursor: pointer;
}


.note-canvas {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.main-note__main-text {
  width: 500px;
  height: 380px;
}
