ul li {
  list-style-type: none;
  margin-left: -20px
}

.main-note {
  min-width: 500px;
  height: 900px;
}

.main-note_title {
  width: 100%;
  text-align: center;
}


.setting-gruop {
  display: grid;
  grid-template-columns: 1fr 1fr 10fr;
}

.note_title {
  font-size: 22px;
  float: left;
  width: 181px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note_date {
  float: right;
}

.main-note_button {
  border-radius: 5px;
  cursor: pointer;
}

.note-content {
  min-width: 660px;
  margin: 0 auto;
}


.note-canvas {
}

.main-note__main-text {
  width: calc(100% - 190px);
  height: 380px;
}

.main-note_btn-gruop {
  height: 50px;
  padding-left: 153px;
}

.length-text-note {
  float: right;
}
